/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 RESET
2.0 Fuentes
3.0 VARIABLES
4.0 body
5.0 GRILLA
6.0 TIPOGRAFIA
7.0 404
8.0 BTNS
9.0 FOOTER
10.0 HEADER
11.0 SIDEBAR
12.0 PAGES
13.0 ANIMATIONS
14.0 POPUP

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/

@import 'sass/reset';

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Play:400,700');

/*--------------------------------------------------------------
3.0 VARIABLES
--------------------------------------------------------------*/

@import 'sass/variables';

/*--------------------------------------------------------------
4.0 body
--------------------------------------------------------------*/


html, body {
    font-family: $fuente-principal;
    color: $color-negro;
    background-color: $color-blanco;
    font-size: 4.5vw;
    line-height: 4vh;
    @media (min-width: $sm) {
        font-size: 3.5vw;
        line-height: 3.5vh;
    }
    @media (min-width: $md) {
        font-size: 16px;
        line-height: 20px;
    }
}

.wrapper-site {
    position: relative;
    z-index: 1;
}

/*--------------------------------------------------------------
5.0 GRILLA
--------------------------------------------------------------*/

@import 'sass/grilla';

/*--------------------------------------------------------------
6.0 TIPOGRAFIA
--------------------------------------------------------------*/

@import 'sass/tipografia';

/*--------------------------------------------------------------
7.0 404
--------------------------------------------------------------*/

@import 'sass/404';

/*--------------------------------------------------------------
8.0 BTNS
--------------------------------------------------------------*/

@import 'sass/btns';

/*--------------------------------------------------------------
9.0 FOOTER
--------------------------------------------------------------*/

@import 'sass/footer';

/*--------------------------------------------------------------
10.0 HEADER
--------------------------------------------------------------*/

@import 'sass/header';

/*--------------------------------------------------------------
11.0 SIDEBAR
--------------------------------------------------------------*/

@import 'sass/sidebar';

/*--------------------------------------------------------------
12.0 PAGES
--------------------------------------------------------------*/

@import 'sass/pages';

/*--------------------------------------------------------------
13.0 ANIMATION
--------------------------------------------------------------*/

@import 'sass/animation';

/*--------------------------------------------------------------
14.0 ANIMATION
--------------------------------------------------------------*/

@import 'sass/popup';