@charset "UTF-8";
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 RESET
2.0 Fuentes
3.0 VARIABLES
4.0 body
5.0 GRILLA
6.0 TIPOGRAFIA
7.0 404
8.0 BTNS
9.0 FOOTER
10.0 HEADER
11.0 SIDEBAR
12.0 PAGES
13.0 ANIMATIONS

--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Reset
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Play:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  clear: both; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/*para ocultar texto y que lo lean los lectores de no videntes*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*para eliminar los float*/
header, section, footer, aside {
  clear: both; }

/*input al 100%*/
input, select, textarea {
  display: block;
  width: 100%; }

/*elimina el diseño por defecto en el iphone*/
input[type=submit] {
  -webkit-appearance: none;
  -webkit-border-radius: 0; }

button {
  border: none;
  background-color: transparent; }

.form-group {
  margin: 10px 0; }

/*imagen al 100% de ancho responsive*/
.image-responsive {
  width: 100%;
  height: auto; }

/*--------------------------------------------------------------
2.0 Fuentes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.0 VARIABLES
--------------------------------------------------------------*/
/*FUENTES*/
/*COLORES*/
/*GRID OPTIONS*/
/*
@media (min-width: $md) {}
-webkit-
-moz-
-ms-
-o-

display: flex;
display: -o-flex;
display: -ms-flex;
display: -moz-flex;
display: -webkit-flex;
-webkit-align-items: center;
-moz-align-items: center;
-ms-align-items: center;
-o-align-items: center;
align-items: center;
-webkit-justify-content: center;
-moz-justify-content: center;
-ms-justify-content: center;
-o-justify-content: center;
justify-content: center;


&:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}
*/
/*--------------------------------------------------------------
4.0 body
--------------------------------------------------------------*/
html, body {
  font-family: "Play", sans-serif;
  color: #333;
  background-color: #fff;
  font-size: 4.5vw;
  line-height: 4vh; }
  @media (min-width: 768px) {
    html, body {
      font-size: 3.5vw;
      line-height: 3.5vh; } }
  @media (min-width: 992px) {
    html, body {
      font-size: 16px;
      line-height: 20px; } }

.wrapper-site {
  position: relative;
  z-index: 1; }

/*--------------------------------------------------------------
5.0 GRILLA
--------------------------------------------------------------*/
.padding-fixed {
  padding-top: 100px; }

.container {
  margin: 0 auto;
  padding: 0 5%; }
  @media (min-width: 992px) {
    .container {
      padding: 0 10%; } }

.container-der {
  margin: 0 auto;
  padding-right: 5%; }
  @media (min-width: 992px) {
    .container-der {
      padding-right: 10%; } }

.container-izq {
  margin: 0 auto;
  padding-left: 5%; }
  @media (min-width: 992px) {
    .container-izq {
      padding-left: 10%; } }

@media (min-width: 992px) {
  .main-content-page-wrapper {
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    z-index: 1; } }

.main-content-page {
  width: 100%; }
  @media (min-width: 992px) {
    .main-content-page {
      width: 70%;
      padding-right: 30px;
      position: relative; } }

.row {
  display: block; }
  @media (min-width: 992px) {
    .row {
      width: 100%;
      max-width: 992px;
      margin: 0 auto;
      display: flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -webkit-flex;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      align-items: flex-start;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap; } }

.row-center {
  display: block; }
  @media (min-width: 992px) {
    .row-center {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center; } }

.col {
  padding: 5px 20px; }
  @media (min-width: 992px) {
    .col {
      padding: 5px 10px;
      flex-grow: 1; } }

.col-50 {
  width: 100%;
  padding: 5px 20px; }
  @media (min-width: 992px) {
    .col-50 {
      width: 50%;
      padding: 5px 10px; } }

.col-50-sm {
  width: 50%;
  padding: 5px 10px; }

.col-20 {
  width: 100%;
  padding: 5px 20px; }
  @media (min-width: 992px) {
    .col-20 {
      width: 20%;
      padding: 5px 10px; } }

.col-30 {
  width: 100%;
  padding: 5px 20px; }
  @media (min-width: 992px) {
    .col-30 {
      width: 30%;
      padding: 5px 10px; } }

.col-70 {
  width: 100%;
  padding: 5px 20px; }
  @media (min-width: 992px) {
    .col-70 {
      width: 70%;
      padding: 5px 10px; } }

/*--------------------------------------------------------------
6.0 TIPOGRAFIA
--------------------------------------------------------------*/
h1 {
  font-size: 300%;
  line-height: 110%;
  color: #011a29;
  font-weight: 700; }
  h1 small {
    font-size: 60%; }
  @media (min-width: 992px) {
    h1 {
      font-size: 300%;
      line-height: 130%; } }

h2 {
  font-size: 250%;
  line-height: 110%;
  font-weight: 700;
  margin: 40px 0;
  color: #011a29; }
  h2 small {
    font-size: 60%; }
  @media (min-width: 992px) {
    h2 {
      font-size: 300%;
      line-height: 130%; } }

h3 {
  font-size: 170%;
  line-height: 110%;
  font-weight: 700;
  color: #011a29;
  margin: 25px 0; }
  h3 small {
    font-size: 70%; }

h4 {
  font-size: 130%;
  line-height: 110%;
  margin: 15px 0; }
  h4 small {
    font-size: 70%; }

h5 {
  font-size: 100%;
  line-height: 100%;
  margin: 15px 0; }
  h5 small {
    font-size: 80%; }

p {
  font-size: 100%;
  line-height: 150%;
  margin: 10px 0; }
  p small {
    font-size: 80%; }
  p strong {
    font-weight: 700; }

q {
  font-size: 200%;
  line-height: 110%;
  font-weight: 700;
  margin: 40px 0;
  color: #011a29; }
  q small {
    font-size: 60%; }
  @media (min-width: 992px) {
    q {
      font-size: 200%;
      line-height: 110%; } }

.color-celeste {
  color: #119ad5; }

.subtitulo_clasico {
  border-bottom: 2px solid #27b49a; }

.main-title-header {
  padding-top: 50px;
  padding-bottom: 20px; }
  @media (min-width: 992px) {
    .main-title-header {
      background: #011a29 url(../images/header-institucional.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      padding-top: 30vh;
      padding-bottom: 5vh; } }
  @media (min-width: 1200px) {
    .main-title-header {
      background-position: center 30%; } }
  @media (min-width: 1500px) {
    .main-title-header {
      background-position: center 30%; } }
  .main-title-header h1 {
    text-transform: uppercase; }
    @media (min-width: 992px) {
      .main-title-header h1 {
        color: #fff; } }

/*--------------------------------------------------------------
7.0 404
--------------------------------------------------------------*/
.page404 {
  padding: 150px 7vw;
  min-height: 65vh; }

/*--------------------------------------------------------------
8.0 BTNS
--------------------------------------------------------------*/
/*ICONOS*/
.icon-tel {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background: url(../images/sprite.png);
  background-position: -53px -8px;
  margin-right: 10px; }

.icon {
  display: block;
  padding: 2px;
  width: 30px;
  height: 25px;
  background: url(../images/sprite.png); }

.icon-email {
  background-position: -95px -12px; }

.icon-facebook {
  background-position: -129px -12px; }

.icon-twitter {
  background-position: -162px -12px; }

.icon-youtube {
  background-position: -196px -12px; }

.icon-instagram {
  background-position: -225px -12px; }

.icon-before {
  position: relative; }
  .icon-before:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 50px;
    height: 70px;
    background: url(../images/sprite.png); }

.icon-before-location:before {
  background-position: 0px -50px; }

.icon-before-email:before {
  background-position: -131px -44px; }

.icon-before-tel:before {
  background-position: -73px -48px; }

.icon-before-clock:before {
  background-position: -190px -50px; }

/*
 ******** BOTONES **********
*/
.btn-wrapper-center {
  text-align: center; }

.btn {
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer; }
  .btn:hover {
    zoom: 1;
    filter: alpha(opacity=70);
    opacity: 0.7; }

.btn-sm {
  font-size: 70%;
  padding-top: 6px;
  padding-bottom: 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.btn-xsm {
  font-size: 50%;
  padding-top: 3px;
  padding-bottom: 3px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.btn-border {
  border: 1px solid #333;
  color: #333; }

.btn-border-inverse {
  border: 1px solid #fff;
  color: #fff; }

.btn-primary {
  background-color: #119ad5;
  color: #fff; }

.btn-destacado {
  background-color: #e10453;
  color: #fff; }

.btn-rosa {
  color: #e10453;
  border: 1px solid #e10453;
  padding: 5px 20px; }
  .btn-rosa:hover {
    color: #fff;
    background-color: #e10453; }

.btn-celeste {
  color: #119ad5;
  border: 1px solid #119ad5;
  padding: 5px 20px; }
  .btn-celeste:hover {
    color: #fff;
    background-color: #119ad5; }

.btn-verde {
  color: #27b49a;
  border: 1px solid #27b49a;
  padding: 5px 20px; }
  .btn-verde:hover {
    color: #fff;
    background-color: #27b49a; }

/*--------------------------------------------------------------
9.0 FOOTER
--------------------------------------------------------------*/
.footer-site {
  position: relative;
  z-index: 1;
  color: #fff;
  background: url(../images/mural.jpg);
  background-position: right bottom;
  background-repeat: no-repeat; }
  @media (min-width: 768px) {
    .footer-site {
      background-size: cover; } }
  @media (min-width: 992px) {
    .footer-site {
      background-size: initial;
      background-position: center; } }

.footer-copyright {
  padding: 2px 20px;
  text-align: center;
  background-color: #011a29; }
  .footer-copyright p {
    font-size: 70%;
    font-weight: 700;
    opacity: 0.6; }

.footer-data-wrapper {
  background-color: rgba(1, 26, 41, 0.85); }

.footer-data {
  padding: 30px 20px 10px; }
  @media (min-width: 992px) {
    .footer-data {
      padding: 30px 5% 10px;
      display: flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -webkit-flex;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between; } }

.data-colegio {
  padding: 20px 5px; }
  @media (min-width: 992px) {
    .data-colegio {
      width: 25%;
      padding: 0 5px; } }
  .data-colegio img {
    width: 50%;
    min-width: 150px;
    display: block;
    margin: 0 auto; }
  .data-colegio h5 {
    display: block;
    width: 50%;
    min-width: 150px;
    margin: 20px auto;
    font-size: 120%;
    position: relative;
    text-align: center; }
    @media (min-width: 992px) {
      .data-colegio h5 {
        font-size: 95%;
        cursor: pointer; }
        .data-colegio h5:hover {
          zoom: 1;
          filter: alpha(opacity=50);
          opacity: 0.5; } }

.footer-social-media {
  margin: 20px auto;
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center; }
  .footer-social-media li {
    margin: 0 2px; }
    .footer-social-media li:hover {
      zoom: 1;
      filter: alpha(opacity=50);
      opacity: 0.5; }

.footer-contacto {
  text-align: center;
  padding: 20px 5px; }
  @media (min-width: 992px) {
    .footer-contacto {
      width: 25%;
      padding: 0 5px; } }
  .footer-contacto h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    margin: 15px 0; }
  .footer-contacto p {
    font-size: 90%; }
  .footer-contacto a {
    margin: 20px auto; }

.site-map {
  display: none; }
  @media (min-width: 992px) {
    .site-map {
      display: block;
      width: 30%;
      padding: 0 5px; } }
  .site-map h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 90%;
    margin: 15px 0; }

@media (min-width: 992px) {
  .footer-menu {
    max-height: 200px;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    text-transform: capitalize; } }
  @media (min-width: 992px) and (min-width: 1200px) {
    .footer-menu {
      max-height: 150px; } }

.footer-menu > li {
  font-size: 80%; }
  @media (min-width: 992px) {
    .footer-menu > li {
      width: 40%; } }
  @media (min-width: 1200px) {
    .footer-menu > li {
      width: 25%; } }
.footer-menu a:hover {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5; }

/*--------------------------------------------------------------
10.0 HEADER
--------------------------------------------------------------*/
.header-site {
  position: relative;
  z-index: 11;
  background: url(../images/mural.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 992px) {
    .header-site {
      background-position: center; } }

.header-data {
  background-color: #011a29;
  color: #fff;
  overflow: auto; }

.social-media-header {
  display: none; }
  @media (min-width: 768px) {
    .social-media-header {
      float: right;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 40px;
      display: flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -webkit-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      justify-content: center; } }
  .social-media-header li:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }

.tel-data-header {
  float: right;
  cursor: pointer;
  padding-right: 5%; }
  @media (min-width: 768px) {
    .tel-data-header {
      padding-right: 0; } }
  .tel-data-header:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }

/*NAV FULL*/
.main-nav {
  position: relative;
  height: 75px;
  background-color: rgba(1, 26, 41, 0.85);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
  /*LOGO*/
  /*TOGLE BUTTON*/ }
  @media (min-width: 768px) {
    .main-nav {
      height: 125px; } }
  .main-nav .brand-name {
    width: 100px;
    cursor: pointer;
    margin-top: -30px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s; }
    @media (min-width: 768px) {
      .main-nav .brand-name {
        width: 150px;
        margin-top: -40px; } }
    .main-nav .brand-name:hover {
      zoom: 1;
      filter: alpha(opacity=80);
      opacity: 0.8; }
  .main-nav .toggle {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    float: right;
    outline: none;
    top: 10px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    transition: all 1s; }
    @media (min-width: 768px) {
      .main-nav .toggle {
        top: 30px; } }
    @media (min-width: 992px) {
      .main-nav .toggle {
        display: none; } }
    .main-nav .toggle:hover {
      zoom: 1; }
      .main-nav .toggle:hover .tog2 {
        transform: translate3d(0px, 0, 0); }
    .main-nav .toggle .tog, .main-nav .toggle .tog1, .main-nav .toggle .tog2, .main-nav .toggle .tog3 {
      display: block;
      width: 80%;
      height: 3px;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      border-radius: 1px;
      background-color: #fff;
      position: absolute;
      left: 5px;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      transition: all 0.5s; }
    .main-nav .toggle .tog1 {
      top: 14px; }
    .main-nav .toggle .tog2 {
      -webkit-transform: translate3d(5px, 0, 0);
      -moz-transform: translate3d(5px, 0, 0);
      -ms-transform: translate3d(5px, 0, 0);
      -o-transform: translate3d(5px, 0, 0);
      transform: translate3d(5px, 0, 0); }
    .main-nav .toggle .tog3 {
      bottom: 10px; }
  .main-nav .toggle-activate .tog1 {
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    top: 22px; }
  .main-nav .toggle-activate .tog2 {
    display: none; }
  .main-nav .toggle-activate .tog3 {
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    -o-transform: rotate(140deg);
    transform: rotate(140deg);
    bottom: 25px; }
  .main-nav .toggle-activate:hover .tog1 {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg); }
  .main-nav .toggle-activate:hover .tog3 {
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg); }

/*NAVIGATION*/
.main-menu {
  background-color: rgba(1, 26, 41, 0.85);
  color: #fff;
  width: 100vw;
  position: absolute;
  left: 0;
  font-size: 120%;
  line-height: 120%;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
  height: 0;
  overflow: hidden;
  /*SUBMENU*/ }
  @media (min-width: 768px) {
    .main-menu {
      -webkit-transform: translateY(6px);
      -moz-transform: translateY(6px);
      -ms-transform: translateY(6px);
      -o-transform: translateY(6px);
      transform: translateY(6px); } }
  @media (min-width: 992px) {
    .main-menu {
      height: auto;
      overflow: visible;
      position: relative;
      width: 80%;
      background-color: transparent;
      float: right;
      -webkit-transform: initial;
      -moz-transform: initial;
      -ms-transform: initial;
      -o-transform: initial;
      transform: initial;
      padding: 30px 0 0;
      display: flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -webkit-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between; } }
  @media (min-width: 1200px) {
    .main-menu {
      padding: 30px 0; } }
  .main-menu > li {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px solid #fff; }
    @media (min-width: 992px) {
      .main-menu > li {
        border-bottom: none;
        padding: 0; } }
    .main-menu > li:last-child {
      border-bottom: none;
      padding-bottom: 20px; }
      @media (min-width: 992px) {
        .main-menu > li:last-child {
          padding-bottom: 0; } }
    .main-menu > li a {
      display: block;
      padding: 10px 0; }
      @media (min-width: 992px) {
        .main-menu > li a {
          padding: 20px 20px; }
          .main-menu > li a:hover {
            zoom: 1;
            filter: alpha(opacity=50);
            opacity: 0.5; } }
  .main-menu .submenu {
    font-size: 70%;
    height: 0;
    overflow: hidden; }
    @media (min-width: 992px) {
      .main-menu .submenu {
        display: none;
        height: auto;
        overflow: visible;
        position: absolute;
        font-size: 90%;
        background-color: #eeeded;
        color: #011a29;
        width: 150px;
        text-align: left;
        text-transform: capitalize; }
        .main-menu .submenu > li > a {
          padding: 10px 20px;
          border-bottom: 1px solid black; }
          .main-menu .submenu > li > a:hover {
            color: #fff;
            background-color: #e10453;
            opacity: 1; } }
  @media (min-width: 992px) {
    .main-menu .menu-active {
      border-bottom: 2px solid #fff; } }

@media (min-width: 992px) {
  .main-menu li:hover > .submenu {
    display: block; } }

.nav-collapse-fixed {
  background-color: #011a29;
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0;
  /*LOGO FIXED*/ }
  @media (min-width: 768px) {
    .nav-collapse-fixed {
      height: 110px; } }
  @media (min-width: 992px) {
    .nav-collapse-fixed {
      height: 80px; } }
  .nav-collapse-fixed .brand-name {
    width: 50px;
    margin-top: 4px; }
    @media (min-width: 768px) {
      .nav-collapse-fixed .brand-name {
        width: 90px; } }
    @media (min-width: 992px) {
      .nav-collapse-fixed .brand-name {
        width: 70px; } }
  .nav-collapse-fixed .toggle {
    top: 3px; }
    @media (min-width: 768px) {
      .nav-collapse-fixed .toggle {
        top: 23px; } }
  @media (min-width: 992px) {
    .nav-collapse-fixed .main-menu {
      padding: 10px 0; } }

/*scroll-top-button*/
.scroll-top-button {
  position: fixed;
  right: -15%;
  bottom: 10%;
  width: 50px;
  height: 50px;
  outline: none;
  background-color: rgba(1, 26, 41, 0.85);
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s; }
  .scroll-top-button .up, .scroll-top-button .up1, .scroll-top-button .up2 {
    display: block;
    width: 50%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    transition: all 0.5s;
    top: 22px; }
  .scroll-top-button .up1 {
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    left: 4px; }
  .scroll-top-button .up2 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 4px; }

.scroll-top-button-fixed {
  right: 1%; }

/*--------------------------------------------------------------
11.0 SIDEBAR
--------------------------------------------------------------*/
.sidebar {
  display: none; }
  @media (min-width: 992px) {
    .sidebar {
      display: block;
      width: 30%;
      min-width: 250px;
      padding-left: 20px;
      position: relative; } }
  @media (min-width: 1500px) {
    .sidebar {
      width: 25%; } }

.sidebar-widgets li {
  border-bottom: 1px solid #eeeded;
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 20px; }

.widget h1 {
  text-transform: uppercase;
  font-size: 95%; }
.widget p {
  font-size: 90%;
  margin-bottom: 15px; }
.widget strong {
  font-weight: 700; }
.widget img {
  width: 100%; }
.widget a {
  margin-top: 15px; }
.widget .wrapper-galeria-images {
  position: relative;
  height: 200px; }
  .widget .wrapper-galeria-images figure {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .widget .wrapper-galeria-images figure img {
      position: absolute;
      width: 150%;
      z-index: 1;
      height: 100%; }
    .widget .wrapper-galeria-images figure .caption-wrapper {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      font-size: 80%;
      left: 0;
      text-align: center;
      padding: 10px;
      background-color: rgba(1, 26, 41, 0.85);
      position: absolute;
      z-index: 11;
      opacity: 0; }
    .widget .wrapper-galeria-images figure figcaption {
      position: absolute;
      bottom: 10px; }
.widget .last-news-list {
  margin-top: 30px; }
  .widget .last-news-list > li {
    border: none;
    padding: 0;
    margin-bottom: 30px; }
    .widget .last-news-list > li:last-child {
      margin-bottom: 10px; }
.widget .wrapper-last-news h1 {
  font-size: 80%; }
.widget .wrapper-last-news-data {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -moz-flex;
  display: -webkit-flex; }
  .widget .wrapper-last-news-data > a {
    width: 40%;
    margin-top: 12px; }
  .widget .wrapper-last-news-data .last-news-data {
    width: 60%;
    padding-left: 10px;
    font-size: 75%;
    margin: 10px 0 5px; }
    .widget .wrapper-last-news-data .last-news-data .link-last-news {
      font-style: italic;
      text-decoration: underline; }
  .widget .wrapper-last-news-data figure:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }

.acordion {
  margin-top: 20px; }
  .acordion .title-acordion {
    margin: 0;
    margin-top: 10px;
    background-color: #e10453;
    color: #fff;
    font-size: 120%;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer; }

.acordion-content {
  background-color: #eeeded;
  font-size: 80%;
  padding: 0 20px;
  overflow: hidden;
  height: 0; }
  .acordion-content p {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px; }
  .acordion-content a {
    margin-top: 0;
    margin-bottom: 20px; }

.acordion-color-celeste {
  background-color: #119ad5 !important; }

.acordion-color-verde {
  background-color: #27b49a !important; }

/*--------------------------------------------------------------
12.0 PAGES
--------------------------------------------------------------*/
.ajax-loader {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(1, 26, 41, 0.3) url(../images/loader-espiral.gif) no-repeat center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.ajax-loader-noticias {
  display: none;
  position: relative;
  height: 80px;
  width: 100%;
  background: url(../images/loading2.gif) no-repeat center; }

.mensaje {
  display: block;
  font-style: italic;
  color: #119ad5;
  text-align: center;
  font-size: 90%; }

.mensaje-sutil {
  color: #333;
  font-size: 80%; }

.separador-background-transparent {
  background-color: rgba(1, 26, 41, 0.85);
  color: #fff;
  text-align: center;
  padding: 30px 20%; }
  .separador-background-transparent h3 {
    color: #fff !important; }

/*CONTACTO*/
#contact-page .contact-form-wrapper {
  margin-bottom: 50px; }
  #contact-page .contact-form-wrapper form {
    position: relative; }
    #contact-page .contact-form-wrapper form label {
      line-height: 150%; }
      @media (min-width: 992px) {
        #contact-page .contact-form-wrapper form label {
          display: none; } }
    #contact-page .contact-form-wrapper form input {
      height: 40px;
      padding: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      border-style: groove;
      font-family: "Play", sans-serif;
      color: #333; }
    #contact-page .contact-form-wrapper form textarea {
      height: 90px;
      padding: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      border-style: groove;
      font-family: "Play", sans-serif;
      color: #333; }
    #contact-page .contact-form-wrapper form ::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-family: "Play", sans-serif;
      color: #333; }
    #contact-page .contact-form-wrapper form ::-moz-placeholder {
      /* Firefox 19+ */
      font-family: "Play", sans-serif;
      color: #333; }
    #contact-page .contact-form-wrapper form :-ms-input-placeholder {
      /* IE 10+ */
      font-family: "Play", sans-serif;
      color: #333; }
    #contact-page .contact-form-wrapper form :-moz-placeholder {
      /* Firefox 18- */
      font-family: "Play", sans-serif;
      color: #333; }
#contact-page .contact-data-items {
  margin: 40px 0; }
  @media (min-width: 992px) {
    #contact-page .contact-data-items {
      margin: 0; } }
  #contact-page .contact-data-items li {
    margin: 20px 0;
    font-size: 120%;
    padding-left: 70px;
    line-height: 130%;
    padding-top: 20px;
    word-break: break-all; }
    @media (min-width: 992px) {
      #contact-page .contact-data-items li {
        margin: 40px 0;
        font-size: 100%;
        padding-left: 60px;
        line-height: 130%;
        padding-top: 20px;
        word-break: break-word; } }
    @media (min-width: 1500px) {
      #contact-page .contact-data-items li {
        font-size: 120%; } }
#contact-page .contact-calendar-wrapper figure {
  margin: 30px 0; }
  #contact-page .contact-calendar-wrapper figure:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5; }
#contact-page .contact-calendar-wrapper img {
  display: block;
  margin: 0 auto;
  width: 90%; }

/*INSTITUCIONAL*/
#page-historia p {
  text-align: justify; }
#page-historia .autoridades {
  margin-top: 50px; }
#page-historia .read-more-wrapper {
  overflow: hidden;
  height: 0px; }
#page-historia .read-more-button-wrapper {
  text-align: center;
  padding: 30px 0; }
#page-historia .separador-campo {
  background: url(../images/background-separador.jpg) bottom;
  margin-bottom: 30px; }
  #page-historia .separador-campo a {
    margin-top: 10px; }
#page-historia .separador-inscripcion {
  background: url(../images/background-separador2.jpg) center; }
  #page-historia .separador-inscripcion a {
    margin-top: 10px; }

/*NOTICIAS Y EDAD FELIZ */
.loop-posts-wrapper {
  padding-bottom: 30px; }
  .loop-posts-wrapper li {
    margin: 80px 0; }
    .loop-posts-wrapper li:first-child {
      margin-top: 40px; }
      @media (min-width: 768px) {
        .loop-posts-wrapper li:first-child {
          margin-top: 80px; } }
  .loop-posts-wrapper .post-in-loop .image-wrapper-loop {
    display: block;
    max-height: 25vh;
    overflow: hidden; }
    @media (min-width: 768px) {
      .loop-posts-wrapper .post-in-loop .image-wrapper-loop {
        max-height: 30vh; } }
    @media (min-width: 992px) {
      .loop-posts-wrapper .post-in-loop .image-wrapper-loop {
        max-height: 35vh; } }
    @media (min-width: 1500px) {
      .loop-posts-wrapper .post-in-loop .image-wrapper-loop {
        max-height: 40vh; } }
    .loop-posts-wrapper .post-in-loop .image-wrapper-loop img {
      width: 100%;
      display: block;
      margin: 0 auto;
      position: relative; }
  .loop-posts-wrapper .post-in-loop .wrapper-button-more {
    margin: 30px 0; }
    @media (min-width: 992px) {
      .loop-posts-wrapper .post-in-loop .wrapper-button-more {
        text-align: right; } }

.load-more-wrapper {
  position: relative;
  text-align: center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  margin-bottom: 50px; }

.title-post-wrapper {
  border-bottom: 2px solid #27b49a;
  padding: 20px 0;
  margin-bottom: 20px; }
  @media (min-width: 992px) {
    .title-post-wrapper {
      display: flex;
      display: -o-flex;
      display: -ms-flex;
      display: -moz-flex;
      display: -webkit-flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      justify-content: space-between; } }
  .title-post-wrapper > h1 {
    font-size: 150%;
    margin-bottom: 10px; }
    @media (min-width: 992px) {
      .title-post-wrapper > h1 {
        width: 70%;
        margin-bottom: 0; } }
  .title-post-wrapper .date-post {
    font-size: 90%;
    color: #2b426e;
    line-height: 120%;
    position: relative;
    padding-left: 35px; }
    @media (min-width: 992px) {
      .title-post-wrapper .date-post {
        width: 30%;
        text-align: right;
        max-width: 205px; } }
    .title-post-wrapper .date-post:before {
      content: '';
      position: absolute;
      left: 0;
      top: -7px;
      display: block;
      width: 30px;
      height: 30px;
      background: url(../images/sprite.png);
      background-position: -12px -126px; }
      @media (min-width: 768px) {
        .title-post-wrapper .date-post:before {
          top: 0; } }
      @media (min-width: 992px) {
        .title-post-wrapper .date-post:before {
          top: -7px; } }

/*--------------------------------------------------------------
13.0 ANIMATION
--------------------------------------------------------------*/
.animation-element {
  opacity: 0; }

.animation-element.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

.animation-element.fade-in-scroll.in-view {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.animation-element.slide-up.in-view {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(100px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }
.animation-element.slide-right.in-view {
  animation-name: slide-right;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes slide-right {
  from {
    opacity: 0;
    transform: translateX(100px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

/*# sourceMappingURL=style.css.map */
