.animation-element {
	opacity: 0;
}

.animation-element.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.animation-element.fade-in-scroll.in-view {
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.animation-element.slide-up.in-view {
  animation-name: slide-up;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-up {
  from {opacity: 0;transform:translateY(100px);}
  to {opacity: 1;transform:translateY(0px);}
}

.animation-element.slide-left.in-view {
  animation-name: slide-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-left {
  from {opacity: 0;transform:translateX(-100px);}
  to {opacity: 1;transform:translateX(0px);}
}

.animation-element.slide-right.in-view {
  animation-name: slide-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slide-right {
  from {opacity: 0;transform:translateX(100px);}
  to {opacity: 1;transform:translateX(0px);}
}

.niveles-widget-data-animate.in-view {
  animation-name: niveles-widget-data-animate-movil;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  @media (min-width: $md) {
    animation-name: niveles-widget-data-animate-md;
  }
}

@keyframes niveles-widget-data-animate-movil {
  from {opacity: 0;top:213px;}
  to {opacity: 1;top:0px;}
}

@keyframes niveles-widget-data-animate-sm {
  from {opacity: 0;top:300px;}
  to {opacity: 1;top:223px;}
}

@keyframes niveles-widget-data-animate-md {
  from {opacity: 0;
    @include transform(translateY(100px));
  }
  to {opacity: 1;
    @include transform(translateY(0));
  }
}