.main-wrapper {}

.inner-wrapper {}

//aplica un padding extra para cuando el nav se define como fixed
.padding-fixed {
	padding-top: 100px;
}

.container {
	margin: 0 auto;
	padding: 0 5%;
	@media (min-width: $md) {
	padding: 0 10%;
	}
}

.container-der {
	margin: 0 auto;	
	padding-right: 5%;
	@media (min-width: $md) {
		padding-right: 10%;
	}
}

.container-izq {
	margin: 0 auto;	
	padding-left: 5%;
	@media (min-width: $md) {
		padding-left: 10%;
	}
}

//contenedor interno de las paginas
.main-content-page-wrapper {
	@media (min-width: $md) {
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
		padding-top: 30px;
	    padding-bottom: 30px;
	    position: relative;
	    z-index: 1;
	}
}

.main-content-page {
	width: 100%;
	@media (min-width: $md) {
		width: 70%;
		padding-right: 30px;
		position: relative;
    flex-grow: 1;
	}
}

.row {
  display: block;
  @media (min-width: $md) {
    width: 100%;
    max-width: $md;
    margin: 0 auto;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    -o-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.row-center {
  display: block;
  @media (min-width: $md) {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
  }
}

.col {
  padding: 5px 20px;
  @media (min-width: $md) {
    padding: 5px 10px;
    flex-grow: 1;
  }  
}

.col-50 {
  width: 100%;
  padding: 5px 20px;
  @media (min-width: $md) {
    width: 50%;
    padding: 5px 10px;
  }  
}

.col-50-sm {
  width: 50%;
  padding: 5px 10px;
}

.col-20 {
  width: 100%;
  padding: 5px 20px;
  @media (min-width: $md) {
    width: 20%; 
    padding: 5px 10px; 
  }  
}

.col-30 {
  width: 100%;
  padding: 5px 20px;
  @media (min-width: $md) {
    width: 30%; 
    padding: 5px 10px; 
  }  
}

.col-70 {
  width: 100%;
  padding: 5px 20px;
  @media (min-width: $md) {
    width: 70%; 
    padding: 5px 10px; 
  }  
}