.ajax-loader {
	display: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: $color-transparente url(../images/loader-espiral.gif) no-repeat center;
	@include border-radius(5px);
}

.ajax-loader-noticias {
	display: none;
	position: relative;
	height: 80px;
	width: 100%;
	background: url(../images/loading2.gif) no-repeat center;
}

.mensaje {
	display: block;
	font-style: italic;
	color: $color-celeste;
	text-align: center;
	font-size: 90%;
}

.mensaje-sutil {
	color: $color-negro;
	font-size: 80%;
}

.separador-background-transparent {
	background-color: $color-azul-separadores;
	color: $color-blanco;
	text-align: center;
	padding: 30px 20%;
	h3 {
		color: $color-blanco!important;		
	}
}


/*CONTACTO*/

#contact-page {
	.contact-form-wrapper {
		margin-bottom: 50px;

		form {
			position: relative;
			label {
				line-height: 150%;
				@media (min-width: $md) {
					display: none;
				}
			}

			input {
				height: 40px;
				padding: 10px;
				@include border-radius(5px);
				border-style: groove;
				font-family: $fuente-principal;
				color: $color-negro;
			}

			textarea {
				height: 90px;
				padding: 10px;
				@include border-radius(5px);
				border-style: groove;
				font-family: $fuente-principal;
				color: $color-negro;
			}

			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			    font-family: $fuente-principal;
				color: $color-negro;
			}
			::-moz-placeholder { /* Firefox 19+ */
			    font-family: $fuente-principal;
				color: $color-negro;
			}
			:-ms-input-placeholder { /* IE 10+ */
			    font-family: $fuente-principal;
				color: $color-negro;
			}
			:-moz-placeholder { /* Firefox 18- */
			    font-family: $fuente-principal;
				color: $color-negro;
			}
		}
	}

	.contact-data-items {
		margin: 40px 0;
		@media (min-width: $md) {
			margin: 0;
		}

		li {
			margin: 20px 0;
			font-size:120%;
			padding-left: 70px;
			line-height: 130%;
			padding-top: 20px;
			word-break: break-all;
			@media (min-width: $md) {
				margin: 40px 0;
				font-size:100%;
				padding-left: 60px;
				line-height: 130%;
				padding-top: 20px;
				word-break: break-word;
			}
			@media (min-width: $xlg) {
				font-size:120%;
			}
		}
	}

	.contact-calendar-wrapper {
		figure {
			margin: 30px 0;
			&:hover {
			    zoom: 1;
			    filter: alpha(opacity=50);
			    opacity: 0.5;
			}
		}
		img {
			display: block;
			margin: 0 auto;
			width: 90%;
		}
	}
}



/*INSTITUCIONAL*/
#page-historia {
	p {
		text-align: justify;
	}

	.autoridades {
		margin-top: 50px;
	}

	.read-more-wrapper {
		overflow: hidden;
		height: 0px;
	}

	.read-more-button-wrapper {
		text-align: center;
		padding: 30px 0;
	}

	.separador-campo {
		background: url(../images/background-separador.jpg) bottom;
		margin-bottom: 30px;
		a {
			margin-top: 10px;
		}
	}

	.separador-inscripcion {
		background: url(../images/background-separador2.jpg) center;
		a {
			margin-top: 10px;
		}
	}
}//#page-historia

/*NOTICIAS Y EDAD FELIZ */
.loop-posts-wrapper {
	padding-bottom: 30px;
	li {
		margin: 80px 0; 

		&:first-child {
			margin-top: 40px;
			@media (min-width: $sm) {
				margin-top: 80px;
			}
		}
	}
	//wrapper del post en el loop
	.post-in-loop {
		.image-wrapper-loop {
			display: block;
			max-height: 25vh;
			overflow: hidden;
			@media (min-width: $sm) {
				max-height: 30vh;
			}
			@media (min-width: $md) {
				max-height: 35vh;
			}
			@media (min-width: $xlg) {
				max-height: 40vh;
			}
		}
		img {
				width: 100%;
				display: block;
				margin: 0 auto;
			}
		

		.wrapper-button-more {
			margin: 30px 0;
			@media (min-width: $md) {
				text-align: right;
			}
		}
	}
}

.load-more-wrapper {
	position: relative;
	text-align: center;
	@include transition(all 1s);
	margin-bottom: 50px;
}

//titulo con borde bajo verde y fecha a la derecha
.title-post-wrapper {
	border-bottom: 2px solid $color-verde-agua;
	padding: 20px 0;
	margin-bottom: 20px;
	@media (min-width: $md) {
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
	}
	> h1 {
		font-size: 150%;
		margin-bottom: 10px;
		@media (min-width: $md) {
			width: 70%;
			margin-bottom: 0;
		}
	}

	.date-post {
		font-size: 90%;
		color: $color-azul;
		line-height: 120%;
		position: relative;
		padding-left: 35px;
		@media (min-width: $md) {
			width: 30%;
			text-align: right;
			max-width: 205px;
		}
		

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: -7px;
			display: block;
			width: 30px;
			height: 30px;
			background: url(../images/sprite.png);
			background-position: -12px -126px;
			@media (min-width: $sm) {
				top: 0;
			}
			@media (min-width: $md) {
				top: -7px;
			}
		}
	}

}//.title-post-wrapper
