.ajax-loader {
	display: none;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	background: $color-transparente url(../images/loader-espiral.gif) no-repeat center;
	@include border-radius(5px);
}

.ajax-loader-noticias {
	display: none;
	position: relative;
	height: 80px;
	width: 100%;
	background: url(../images/loading2.gif) no-repeat center;
}

.mensaje {
	display: block;
	font-style: italic;
	color: $color-celeste;
	text-align: center;
	font-size: 90%;
}

.mensaje-sutil {
	color: $color-negro;
	font-size: 80%;
}

.separador-background-transparent {
	background-color: $color-azul-separadores;
	color: $color-blanco;
	text-align: center;
	padding: 30px 20%;
	h3 {
		color: $color-blanco!important;		
	}
}

.separador-background {
	background-color: $color-transparente;
	color: $color-blanco;
	text-align: center;
	padding: 30px 5%;
	h3 {
		color: $color-blanco!important;		
		font-size: 150%;
		@media (min-width: $md) {
			font-size: 170%;
		}
	}

	p {
		font-size: 80%;
    	margin-bottom: 30px;
    	@media (min-width: $md) {
			font-size: 100%;
		}
	}
}


/*CONTACTO*/

#contact-page {
	.contact-form-wrapper {
		margin-bottom: 50px;

		form {
			position: relative;
			label {
				line-height: 150%;
				@media (min-width: $md) {
					display: none;
				}
			}

			input {
				height: 40px;
				padding: 10px;
				@include border-radius(5px);
				border-style: groove;
				font-family: $fuente-principal;
				color: $color-negro;
			}

			textarea {
				height: 90px;
				padding: 10px;
				@include border-radius(5px);
				border-style: groove;
				font-family: $fuente-principal;
				color: $color-negro;
			}

			::-webkit-input-placeholder { /* Chrome/Opera/Safari */
			    font-family: $fuente-principal;
				color: $color-negro;
			}
			::-moz-placeholder { /* Firefox 19+ */
			    font-family: $fuente-principal;
				color: $color-negro;
			}
			:-ms-input-placeholder { /* IE 10+ */
			    font-family: $fuente-principal;
				color: $color-negro;
			}
			:-moz-placeholder { /* Firefox 18- */
			    font-family: $fuente-principal;
				color: $color-negro;
			}
		}
	}

	.contact-data-items {
		margin: 40px 0;
		@media (min-width: $md) {
			margin: 0;
		}

		li {
			margin: 20px 0;
			font-size:120%;
			padding-left: 70px;
			line-height: 130%;
			padding-top: 20px;
			word-break: break-all;
			@media (min-width: $md) {
				margin: 40px 0;
				font-size:100%;
				padding-left: 60px;
				line-height: 130%;
				padding-top: 20px;
				word-break: break-word;
			}
			@media (min-width: $xlg) {
				font-size:120%;
			}
		}
	}

	.contact-calendar-wrapper {
		figure {
			margin: 30px 0;
			&:hover {
			    zoom: 1;
			    filter: alpha(opacity=50);
			    opacity: 0.5;
			}
		}
		img {
			display: block;
			margin: 0 auto;
			width: 90%;
		}
	}
}



/*INSTITUCIONAL*/
#page-historia {
	p {
		text-align: justify;
	}

	.autoridades {
		margin-top: 50px;
	}

	.read-more-wrapper {
		overflow: hidden;
		height: 0px;
	}

	.read-more-button-wrapper {
		text-align: center;
		padding: 30px 0;
	}

	.separador-campo {
		background: url(../images/background-separador.jpg) bottom;
		margin-bottom: 30px;
		a {
			margin-top: 10px;
		}
	}

	.separador-inscripcion {
		background: url(../images/background-separador2.jpg) center;
		a {
			margin-top: 10px;
		}
	}
}//#page-historia

/*NOTICIAS Y EDAD FELIZ */
.loop-posts-wrapper {
	padding-bottom: 30px;
	li {
		margin: 80px 0; 

		&:first-child {
			margin-top: 40px;
			@media (min-width: $sm) {
				margin-top: 80px;
			}
		}
	}
	//wrapper del post en el loop
	.post-in-loop {
		.image-wrapper-loop {
			display: block;
			max-height: 25vh;
			overflow: hidden;
			@media (min-width: $sm) {
				max-height: 30vh;
			}
			@media (min-width: $md) {
				max-height: 35vh;
			}
			@media (min-width: $xlg) {
				max-height: 40vh;
			}
		}
		img {
				width: 100%;
				display: block;
				margin: 0 auto;
			}
		

		.wrapper-button-more {
			margin: 30px 0;
			@media (min-width: $md) {
				text-align: right;
			}
		}
	}
}
.header-posts {
	width: 100%!important;
}

.load-more-wrapper {
	position: relative;
	text-align: center;
	@include transition(all 1s);
	margin-bottom: 50px;
}

//titulo con borde bajo verde y fecha a la derecha
.title-post-wrapper {
	border-bottom: 2px solid $color-verde-agua;
	padding: 20px 0;
	margin-bottom: 20px;
	@media (min-width: $md) {
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		-webkit-justify-content: space-between;
		-moz-justify-content: space-between;
		-ms-justify-content: space-between;
		-o-justify-content: space-between;
		justify-content: space-between;
	}
	> h1 {
		font-size: 150%;
		margin-bottom: 20px;
		@media (min-width: $md) {
			width: 70%;
			margin-bottom: 0;
		}
	}

	.date-post {
		font-size: 90%;
		color: $color-azul;
		line-height: 120%;
		position: relative;
		padding-left: 35px;
		@media (min-width: $md) {
			width: 30%;
			text-align: right;
			max-width: 205px;
		}
		

		&:before {
			content: '';
			position: absolute;
			left: 0;
			top: -7px;
			display: block;
			width: 30px;
			height: 30px;
			background: url(../images/sprite.png);
			background-position: -12px -126px;
			@media (min-width: $sm) {
				top: 0;
			}
			@media (min-width: $md) {
				top: -7px;
			}
		}
	}

}//.title-post-wrapper

//single post
.single-post-content {
	/*VIDEO SINGLE*/
	.post-video-wrapper {
		width: 100%;
		height: 215px;
		@media (min-width: $sm) {
			height: 400px;
		}
		@media (min-width: $md) {
			height: 300px;
		}
		@media (min-width: $lg) {
			height: 410px;
		}
		@media (min-width: $xlg) {
			height: 570px;
		}
	}

	.content-wrapper {
		strong {
			font-weight: $fuente-bold;
		}

		em {
			font-style: italic;
		}

		img {
			width: 100%;
			height: auto;
		}

		ul, ol {
			padding-left: 10px;
			margin: 20px 0;

			li {
				padding-left: 10px;
				margin: 5px 0;
				list-style-position: inside;
			}
		}

		ul {
			list-style-type: disc;
		}

		ol {
			list-style-type: decimal;	
		}
	}
}//.single-post-content


/*GALERIA DE IMAGENES, POST*/
.post-galeria-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 30px; 
	padding-bottom: 10px;
	border-bottom: 1px solid $color-verde-agua;

	.galeria-imagenes {
		position: relative;
		width: 100%;
		width: 500%;
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;

		li {
			cursor: pointer;
			overflow: hidden;
			width: 100px;
			height: 50px;
			margin: 5px;

			&:first-child {
				margin-left: 0;
			}

			@media (min-width: $sm) {
				width: 150px;
				height: 80px;
			}
			
			&:hover {
			    zoom: 1;
			    filter: alpha(opacity=50);
			    opacity: 0.5;
			}
		}

		img {
			width: 100%;
		}
	}

	.galeria-main-image {
		width: 100%;
		cursor: pointer;
		img {
			width: 100%;
		}
	}

	.controls {
		.left-control {
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			left: -5px;
			bottom: 20px;
			background: $color-transparente url(../images/sprite.png);
			background-position: -52px -120px;
			cursor: pointer;
			@media (min-width: $sm) {
				left: 0;
				bottom: 30px;
			}
			&:hover {
			    zoom: 1;
			    filter: alpha(opacity=50);
			    opacity: 0.5;
			}
		}
		
		.right-control{
			position: absolute;
			display: block;
			width: 40px;
			height: 40px;
			right: -5px;
			bottom: 20px;
			background: $color-transparente url(../images/sprite.png);
			background-position: -84px -120px;
			cursor: pointer;
			@media (min-width: $sm) {
				right: 0;
				bottom: 30px;
			}
			&:hover {
			    zoom: 1;
			    filter: alpha(opacity=50);
			    opacity: 0.5;
			}
		}
	}
}//.post-galeria-wrapper
//imagen ampliada
.main-image-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $color-azul-separadores;
	z-index: 11111111111;
	display: flex;
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;

	> img {
		height: auto;
		width: 100%;
		@media (min-width: $md) {
			width: 70%;
		}
	}
}


.single-post-footer {
	.share-post {
		margin-top: 80px;
		border-bottom: 1px solid $color-verde-agua;
		padding: 10px 0 20px;
		@media (min-width: $md) {
			display: flex;
			display: -o-flex;
			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			-webkit-justify-content: space-between;
			-moz-justify-content: space-between;
			-ms-justify-content: space-between;
			-o-justify-content: space-between;
			justify-content: space-between;
		}

		h3 {
			color: $color-verde-agua;
			font-size: 150%;
			text-align: center;
			@media (min-width: $md) {	
				margin: 0;
				text-align: left;
			}
		}
	}

	.social-share {
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;
		-webkit-align-items: flex-start;
		-moz-align-items: flex-start;
		-ms-align-items: flex-start;
		-o-align-items: flex-start;
		align-items: flex-start;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		height: 20px;
		@media (min-width: $md) {	
			margin: 0;
		}
		

		li {
			margin: 0 5px;
			position: relative;
			@media (min-width: $md) {
				position: static;
			}


		}
	}

	.pagination-single {
		margin: 30px auto;

		h3 {
			color: $color-celeste;
			font-size: 150%;
			text-align: center;
			text-transform: uppercase;
		}
	}

	.otras-noticias {
		margin: 40px auto;
		@media (min-width: $sm) {
			display: flex;
			display: -o-flex;
			display: -ms-flex;
			display: -moz-flex;
			display: -webkit-flex;
			-webkit-justify-content: space-between;
			-moz-justify-content: space-between;
			-ms-justify-content: space-between;
			-o-justify-content: space-between;
			justify-content: space-between;
		}
		.otras-noticia-item {
			position: relative;
			overflow: hidden;
			height: 200px;
			width: 100%;
			margin: 20px 0;
			@media (min-width: $sm) {
				width: 300px;
				margin: 0;
			}
			a {
				display: block;
			}

			h1 {
				padding: 0 20px;
				font-size: 150%;
				color: $color-blanco;
				@include transition(all 1s);
				@media (min-width: $md) {
					position: absolute;	
				}
			}

			p {
				padding: 20px;
				color: $color-blanco;
				@include transition(all 1s);
				@media (min-width: $md) {
					position: absolute;
					opacity: 0;
				}
			}

			figure {
				width: 100%;
				height: 100%;
				overflow: hidden;

				img {
					width: 150%;
					height: auto;
					@include transition(all 2s);
				}
			}

			.otra-noticia-data {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: $color-transparente;
				display: flex;
				display: -o-flex;
				display: -ms-flex;
				display: -moz-flex;
				display: -webkit-flex;
				-webkit-align-items: center;
				-moz-align-items: center;
				-ms-align-items: center;
				-o-align-items: center;
				align-items: center;
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
				-webkit-justify-content: center;
				-moz-justify-content: center;
				-ms-justify-content: center;
				-o-justify-content: center;
				justify-content: center;
				text-align: center;
				@include transition(all 1s);
			}
		}
	}

}//.single-post-footer

.otras-noticia-item:hover {
	.otra-noticia-data {
		background-color: $color-azul-separadores!important;
		z-index: 11;
	}
	h1 {
		zoom: 1;
	    filter: alpha(opacity=0);
	    opacity: 0;
	}	

	p {
		zoom: 1!important;
	    filter: alpha(opacity=100)!important;
	    opacity: 1!important;
	    z-index: 111;
	}

	img {
		width: 180%!important;
		transform: translate3d(-10%,-10%,0)!important;
		z-index: 1;
	}
}



//arreglos para los iconos de compartir
.facebook-arreglo {
	top: -5px;
	@media (min-width: $sm) {
		top: -15px;
	}
}

.twitter-arreglo {
	@media (min-width: $sm) {
		top: -7px;
	}
}

/*NIVELES*/
.niveles {
	.nivel-intro {
		margin-bottom: 30px;

		.msj-bienvenida {
			margin-bottom: 50px;
			text-align: justify;

			h4 {
				text-transform: uppercase;
				font-weight: $fuente-bold;
			}
		}

		.nivel-horario-titulo{
			color: $color-rosa;
			text-transform: uppercase;
			text-align: center!important;
			margin-bottom: 0;
		}

		.niveles-horario {
			text-align: center;
			padding: 0 50px;
			margin-bottom: 30px;
			font-size: 120%;
		}
	}//.nivel-intro

	.nivel-detalles {
		margin: 30px 0;
	}//.nivel-detalles

	.nivel-certificaciones {
		margin: 30px 0;
	}//.nivel-certificaciones

	.nivel-proyecto {
		position: relative;
		.texto-proyecto-wrapper {
			padding: 50px 0;
			text-align: justify;
			p {
				font-weight: $fuente-bold;
				@media (min-width: $md) {
					padding: 50px 0;
			    	font-size: 150%;
			    }
			}
		}

	}//.nivel-proyecto
	.nivel-talleres {
		margin: 30px 0;
	}//.nivel-talleres

	.nivel-deportes {
		margin: 80px 0;

		.nivel-deportes-wrapper {
			overflow: hidden;
			@media (min-width: $md) {
				display: flex;
				display: -o-flex;
				display: -ms-flex;
				display: -moz-flex;
				display: -webkit-flex;
				align-items: center;
				-webkit-justify-content: space-between;
				-moz-justify-content: space-between;
				-ms-justify-content: space-between;
				-o-justify-content: space-between;
				justify-content: space-between;

			}
			.nivel-imagen-deportes {
				overflow: hidden;
				height: 200px;
				margin-bottom: 30px;
				@media (min-width: $sm) {
					height: 300px;
				}
				@media (min-width: $md) {
					height: 500px;
					width: 35%;
					-webkit-align-self: flex-start;
					-moz-align-self: flex-start;
					-ms-align-self: flex-start;
					-o-align-self: flex-start;
					align-self: flex-start;
				}

				img {
					width: 100%;
					@media (min-width: $sm) {
						-webkit-transform: translateY(-100px);
						-moz-transform: translateY(-100px);
						-ms-transform: translateY(-100px);
						-o-transform: translateY(-100px);
						transform: translateY(-100px);
					}
					@media (min-width: $md) {
						-webkit-transform: translateY(0);
						-moz-transform: translateY(0);
						-ms-transform: translateY(0);
						-o-transform: translateY(0);
						transform: translateY(0);
						-webkit-transform: translateX(-200px);
						-moz-transform: translateX(-200px);
						-ms-transform: translateX(-200px);
						-o-transform: translateX(-200px);
						transform: translateX(-200px);
						width: auto;
					}
				}
			}

			.nivel-data-deportes {
				@media (min-width: $md) {
					width: 60%;
					-webkit-align-self: flex-start;
					-moz-align-self: flex-start;
					-ms-align-self: flex-start;
					-o-align-self: flex-start;
					align-self: flex-start;
				}
				p {
					margin-top: 0;
					text-align: justify;
					margin-bottom: 20px;
				}
			}

		}//.nivel-deportes-wrapper
	}//.nivel-deportes

	.nivel-documentacion {
		margin: 30px 0;
	}//.nivel-documentacion

}//.niveles

.separador-inscribite {
	margin: 60px 0; 
	background: url(../images/separador-inscribite.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}

/*TALLERES*/
.talleres-section {
	margin: 30px 0;
	.text-talleres {
		margin: 30px 0;
		text-align: justify;
	}
}
.tabs-wrappers {
	display: flex;
	display: -o-flex;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: flex-start;
	-moz-align-items: flex-start;
	-ms-align-items: flex-start;
	-o-align-items: flex-start;
	align-items: flex-start;

	.titles-tab {
		width: 30%;
		max-width: 205px;
		li {
			margin: 5px 0;

			&:first-child {
				margin-top: 0;
			}
			a {
				display: block;
				background-color: $color-verde-agua;
				color: $color-blanco;
				font-size: 120%;
				line-height: 120%;
				text-align: center;
				cursor: pointer;
				padding: 10px 0;

				&:hover {
					background-color: $color-naranja;
				}
			}
			.title-active {
				background-color: $color-azul;	

				
			}
		}

	}

	.tab-content {
		-webkit-flex-grow: 1;
		-moz-flex-grow: 1;
		-ms-flex-grow: 1;
		-o-flex-grow: 1;
		flex-grow: 1;
		width: 70%;
		position: relative;
	}

	.contenido-taller {
		position: absolute;
		top: 0;
		background: $color-gris-claro;
		padding: 20px 20px;
		opacity: 0;
	}

	.contenido-taller-active {
		animation-name: tab_content;
		animation-duration: 1s;
		animation-fill-mode: forwards;
	}
}

@keyframes tab_content {
  from {opacity: 0;
  	filter: alpha(opacity=0);
  	@include transform(translateY(50px));
  }
  to {opacity: 1;
  	filter: alpha(opacity=100);
  	@include transform(translateY(0px));
  }
}

/*CERTIFICACIONES*/
.certificaciones-wrapper {
	background-color: $color-celeste;
	color: $color-blanco;
	padding: 10px 2px 20px;

	h2, h3 {
		color: $color-blanco;		
		text-align: center;
		margin: 15px 0 40px;
		font-size: 200%;
	}

	h1 {
		color: $color-blanco;
		font-size: 120%;	
	}

	.certificaciones-tabla {
		display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -moz-flex;
		display: -webkit-flex;	

		article {
			width: 50%;
			padding: 1px 20px;
		}
	}

	.certificacion-lista {
		li {
			margin: 10px 0;
			text-align: justify;
			padding-left: 5px;
			list-style-type: disc;
			list-style-position: inside;
		}
	}

}//.certificaciones-wrapper

.article-border-right {
	border-right: 1px dotted #ddd;
}

/*DOCUMENTACION*/
.documentacion-list {
	li {
		margin: 10px 0;
		text-align: center;
		@media (min-width: $md) {
			margin: 5px 0;
		}
		a {
			font-weight: bold;
		    list-style-type: disc;
		    list-style-position: inside;
		    font-size: 110%;

		    &:hover {
		    	text-decoration: underline;
		    }
		}
	}
}
